@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff0f0;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}
